<!-- mydrfproject/templates/email/password_reset_email.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Reiniciar Contraseña</title>
</head>
<body>
    <p>¡Hola {{ name }}!,</p>
    <p>Hemos recibido una solicitud para reiniciar su contraseña. Por favor ingrese al siguiente enlace debajo para reiniciar su contraseña:</p>
    <p><a href="{{ reset_password_url }}">Reiniciar Contraseña</a></p>
    <p>Si tu no solicitó este reinicio de contraseña, puede ignorar el correo.</p>
    <p>Saludos</p>
</body>
</html>